.container {
  display: flex;
  justify-content: center;
  margin: 24px 0px 24px 0px;
  padding-left: 24px;
  padding-right: 24px;

  .container-content {
    width: 100%;
    max-width: 720px;
  }
}
